/* @import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&display=swap"); */

html {
    scroll-behavior: smooth;
}

:root {
    --color-white: #ffffff;
    --color-off-white: #f4f7ff;
    --color-blue: #1a1f4c;
    --color-text: #333333;
    --color-yellow: #ffce70;
    --image-blur: blur(3px);
}

/* 1100px, 991px, 767px, 550px, 420px */

body {
    margin: 0;
    padding: 0;
    /* font-family: "Enriqueta", serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span,
ul,
li,
label,
input,
textarea,
select {
    /* font-family: "Enriqueta", serif !important; */
    /* letter-spacing: 0.02em; */
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Poppins', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page {
    padding-top: 60px;
    overflow: hidden;
}

.section {
    padding: 0px 100px;
}

.btn_white {
    padding: 9px 28px;
    padding-bottom: 11px;
    font-weight: 500;
    color: var(--color-blue);
    background: var(--color-off-white);
    border-radius: 5px;
    /* border: 2px solid var(--color-off-white); */
}
.btn_white.sm {
    padding: 4px 23px;
    padding-bottom: 6px;
}
.btn_white:hover {
    font-weight: bold;
    color: var(--color-blue);
    background: var(--color-white);
    /* border: 2px solid var(--color-white); */
    text-decoration: none;
}

.btn_blue_white {
    padding: 9px 28px;
    padding-bottom: 11px;
    font-weight: 500;
    color: var(--color-off-white);
    background: none;
    border-radius: 3px;
    border: 2px solid var(--color-off-white);
}
.btn_blue_white:hover {
    color: var(--color-white);
    border: 2px solid var(--color-white);
    text-decoration: none;
}

.btn_white_blue {
    padding: 9px 28px;
    padding-bottom: 11px;
    font-weight: 500;
    color: var(--color-blue);
    background: var(--color-off-white);
    border-radius: 3px;
    border: 2px solid var(--color-blue);
}
.btn_white_blue:hover {
    color: var(--color-blue);
    background: var(--color-white);
    border: 2px solid var(--color-blue);
    text-decoration: none;
}

.btn_blue {
    padding: 9px 28px;
    padding-bottom: 11px;
    font-weight: 500;
    color: var(--color-off-white);
    background: var(--color-blue);
    border-radius: 5px;
    /* border: 2px solid var(--color-blue); */
}
.btn_blue:hover {
    color: var(--color-white);
    /* border: 2px solid var(--color-blue); */
    text-decoration: none;
}
.btn_blue:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.text_link {
    font-weight: bold;
    font-size: 1em;
    text-decoration-line: underline;
    color: var(--color-blue);
}
.text_link:hover {
    color: var(--color-text);
}

/* Dashbase Styling */
.dashbase {
    margin: 0 auto;
    padding-top: 60px !important;
    max-width: 1600px;
    min-height: 100vh;
}

.admin_flex_div {
    display: flex !important;
    padding-top: 60px;
    max-width: 1800px;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.admin_dashbase {
    width: 100%;
}
.admin_dashbase.shrink {
    padding-left: 290px;
}
@media screen and (max-width: 840px) {
    .admin_dashbase.shrink {
        padding-left: 0px;
        margin-left: 290px;
    }

    .admin_dashbase.shrink::after {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin-left: 260px;
        content: '';
        background: rgba(0, 0, 0, 0.45);
    }
}

@media screen and (max-width: 1100px) {
    .section {
        padding: 0px 50px;
    }
}

@media screen and (max-width: 991px) {
    .section {
        padding: 0px 30px;
    }
}

@media screen and (max-width: 797px) {
    .section {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 550px) {
    .section {
        padding: 0px 10px;
    }
}
