.terms_page {
    .terms_section {
        margin: 0 auto;
        max-width: 1500px;
        margin-top: 90px;

        @media screen and (max-width: 767px) {
            margin-top: 70px;
        }

        p {
            font-size: 1.05em;
            color: var(--color-text);
        }

        h6 {
            margin-top: 50px;
            margin-bottom: 18px;
            font-weight: bold;
            line-height: inherit;
        }

        .list {
            .item {
                margin-bottom: 12px;

                &:first-child {
                    margin-top: 15px;
                }
            }
        }
    }
}
