.hero_image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    background: var(--color-blue);
    box-shadow: 0px 8px 20px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    @media screen and (max-width: 700px) {
        height: 280px;
    }

    &.loading {
        filter: var(--image-blur);
        -webkit-filter: var(--image-blur);
        transition: "opacity .15s linear";
    }
}
