.admin_performance_page {
  width: 100%;
  padding-bottom: 80px;

  .performance_div {
    margin-top: 45px;

    .sub_section_header {
      margin-bottom: 40px;
    }

    table {
      @media screen and (max-width: 1620px) {
        width: 1230px;
      }
    }
  }
}